.section {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
  top: -1px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
}
.logo {
  position: absolute;
  left: 170px;
  top: 150px;
}
.signin {
  position: absolute;
  width: 250px;
  height: 111px;
  left: 280px;
  top: 141px;

  font-family: Sacramento;
  font-style: normal;
  font-weight: normal;
  font-size: 76px;
  line-height: 111px;

  /* identical to box height */

  color: green;
}

.email {
  position: absolute;
  width: 100%;

  left: 198px;
  top: 250px;
}
.password {
  position: absolute;

  left: 198px;
  top: 350px;
}

.signin_button {
  position: absolute;
  width: 350px;

  left: 198px;
  top: 450px;
}
